<div class="container">

  <div class="container-calendar">
      <div class="form-inline" class="datepicker">
        <form action="/therapists/ <%= @terapist %>" method="get" >
          <input type="text" name="date_agenda" placeholder="Data desejada" class="form-control" >
          <input type="submit" class = "btn btn-success">
        </form>
      </div>

      <%  date = params[:date_agenda] ?  params[:date_agenda].to_date : Date.today %>
      <% date_ini = (date - 2) >= Date.today ? (date - 2) : Date.today %>
      <br>

    <% (0..4).each do |col| %>
      <div class="item-week">
        <%= (date_ini + col).strftime("%^a") %> <br>
      </div>
    <% end %>

    <% (0..4).each do |col| %>
      <div class="item-day">
        <%= (date_ini + col).strftime("%d %^b") %>
      </div>
    <% end %>

    <% (0..4).each do |col| %>
      <div class="item-week">
        <% (8..20).each do |hour| %>
         <table>
           <tr>
             <%= hour.to_s + ":00" %>
           </tr>
         </table>
        <% end %>
      </div>
    <% end %>

 </div>

</div>
