<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('assets/banner-home-terapeutas');">
  <div class="banner-content">
    <h1>Cadastre-se e tenha mais clientes</h1>
    <%= link_to "Cdastrar serviços", new_therapist_path, class: "btn btn-md btn-success" %>
  </div>
</div>
