<% bg_image = image_path('banner-home-terapeutas.jpg') %>

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.8) 0%, rgba(0,36,61,0.6) 50%), url('<%= bg_image %>');">
  <div class="banner-content">
    <h1>Concentre toda a energia em seus clientes</h1>
    <%= link_to "Cadastrar agora", new_therapist_path, class: "btn btn-lg btn-success" %>
  </div>
</div>

<div class="weal_funciona">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="weal_titulo">Benefícios ao se cadastrar na Weal</h2>
      </div>
      <div class="col-sm-3 col-xs-8 col-sm-offset-0 col-xs-offset-2">
        <div class="weal_funciona-item">
          <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
          <h5><strong>Cadastro simples e gratuito</strong></h5>
          <h6>Você não paga nada para cadastrar seus serviços como terapeuta. E tudo isso em menos de 5 minutos.</h6>
        </div>
      </div>
      <div class="col-sm-3 col-xs-8 col-sm-offset-0 col-xs-offset-2">
        <div class="weal_funciona-item">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          <h5><strong>Ampla rede de clientes</strong></h5>
          <h6>Diversos usuários em todo o Brasil utilizando a plataforma em busca de terapias alternativas.</h6>
        </div>
      </div>
      <div class="col-sm-3 col-xs-8 col-sm-offset-0 col-xs-offset-2">
        <div class="weal_funciona-item">
          <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
          <h5><strong>Você no controle das informações</strong></h5>
          <h6>Informe os serviçoes prestados, o valor da sessão e gerencie sua agenda de atendimento.</h6>
        </div>
      </div>
      <div class="col-sm-3 col-xs-8 col-sm-offset-0 col-xs-offset-2">
        <div class="weal_funciona-item">
          <span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span>
          <h5><strong>Mais receita ao final do mês!</strong></h5>
          <h6>Acesse sua conta com todos pagamentos dos seus clientes e solicite o resgate ao final de cada mês.</h6>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>


