<br><br>

<div class="container">

  <%= simple_form_for :avaiable, method: "get" do |f| %>
  <div class="btn btn-success">
 -->  </div>

    <%= f.button :submit, "Ver", class: "btn btn-default" %>

  <% end %>


</div>
