.maximum {
  max-width: 200px;
}

.terapia {
  max-width: 100px;
}

.destroy-app {
  color: $verde-escuro;
  :hover {
    text-decoration: none;
    font-weight: bolder;
    color: black;
  }
}

.rating-wid {
  max-width: 100px;
}

.no-padding {
  padding: 10px 0 !important;
}

td {
 vertical-align: middle !important;
}

th {
  background-color: $verde-escuro;
  color: white;
}
.wraper-appointment {
  min-height: calc(100vh - 140px);
}

.agendado {
  color: $verde-escuro;
}

.rating-wait {
  color: $azul-claro;
}

.finalizado {
  color: $gray;
}
