.wrap-calendar{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 450px;
  background-color: #E2E2E2;
  height: 400px;
}

.data-search{
  margin: 0 0 5px 15px;
}

.hour{
  background-color: #E2E2E2;
}

.form-inline{
  padding: 10px 0px 0 0px;
}

.container-calendar {
  display: flex;
  justify-content: flex-start;
  font-size: 16px;
  flex-wrap: wrap;
  background-color: #E2E2E2;
  overflow: auto;
  width: 450px;
  padding: 5px 15px 5px 15px;
}

.container-titles{
  flex: 0 0 auto;
  display: flex;
  justify-content: flex-start;
  font-size: 16px;
  flex-wrap: wrap;
  background-color: #E2E2E2;
  height: 75px;
  width: 450px;
  padding: 10px 15px 0px 15px;
}
.item {
  flex: 1 0 18%;
  max-width: 75px;
  margin: 0 3px;
  text-align: center;
  padding: 4px 2px;
}

.item-day {
  color: #fff;
  background-color: #32B796;
  flex: 0 0 18%;

}

.item-week {
  color: black;
  flex: 0 0 18%;
}

.item-hour{
  height: 410px;
  color: #333;
  background-color: #fff;
}

.button {
  color: #fff;
  background-color: #32B796;
}
