.main-container {
  display: flex;
  justify-content: space-between;
}

.container-list{
  // display: block;
  // width: 29%;
  flex: 0 0 35%;
  padding-left: 35px;
}

.therapist-list {
  display: flex;
  align-items: center;
  // margin: 12px;
  // box-shadow: 6px 6px 8px grey;
  border-bottom: 1px solid #2D8781;
  // width: 650px;
  // background-color: #dce2e1;
}

.card-info-list {
  justify-content: center;
  align-items: center;
  margin: 15px;
  width: 50%;
}

.therapist-pic > img{
  border-radius: 50%;
}

.card-title {
  font-weight: 550;
  font-size: 0.9em;
}

.price-info {
  font-size: 69%;
  line-height: 2rem;
  padding-top: 10px;
  font-weight: 550;
}

.card-info-list2 {
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: 65%;
  font-size: 14px;
}

.card-info-list3 {
  justify-content: center;
  align-items: center;
  margin: 15px;
  width: 50%;
}

.weal_funciona {
  position: relative;
  padding-top: 40px;
  padding-bottom: 43px;
  background-color: #dce2e1;
}

.weal_destaque {
  position: relative;
  padding-top: 40px;
  padding-bottom: 43px;
  background-color: #2D8781;
}

.weal_titulo {
  text-align: center;
  margin-bottom: 38px;
  color: #2D8781;
}

.weal_titulo_destaque {
  text-align: center;
  margin-bottom: 38px;
  color: #dce2e1;
}

.weal_funciona-item {
  text-align: center;
  color: #2D8781;
  margin-bottom: 40px;
  font-size: 100px;
}

@media (max-width: 1000px) {

  .main-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.weal_depoimentos {
    padding: 54px 0;
    border-top: solid 1px #dacaca;
}

.owl-carousel.owl-loaded {
    display: block;
}

