#map {
  position: sticky !important;
  height: 100vh;
  margin: 0px;
  right: 0px;
  top: 0px;
  flex: 0 0 62%;
}

.search-header {
  position: relative;
  padding-top: 6px;
  padding-bottom: 1px;
  background-color: #2D8781;
  align-items: center;
}

.search-info {
  align-items: center;
}

.card-marker {
  // display: flex;
  justify-content: center;
  color: black;
  opacity: 0.9;
  text-decoration: none;
  :hover {
    text-decoration: none;
    color: $verde-escuro;
  }
}

