#map {
  position: sticky !important;
  height: 100vh;
  padding: 0px;
  border-width: 0px;
  margin: 0px;
  left: 0px;
  top: 0px;
  flex: 0 0 60%;
}

.search-header {
  background-color: #eae8e0;
  min-width: 1016px;
  height: 60px;
  justify-content: center;
}
