.lisa-container-name {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    background-color: #32B796;
}

.therapist-profile-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 50px;
    margin-bottom: 100px;

}

.lisa-self_description {
    font-size: 15px;
    display: flex;
    align-items: center;
    padding: 10px;

}

.lisa-price-description {
    font-size: 15px;
    color: red;
    display: flex;
    align-items: center;
    margin-top: 20px;

}

.lisa {

    font-size: 24px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 5px;
}

.lisa-row {
    margin-top: 20px;
    margin-bottom: 20px;

}

 .lisa-div-stars i {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
 }

.category-item {
    font-size: 20px;
    display: flex;
    background: #32B796;
    color: white;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 25px;
    margin-right: 5px;

}

.category-item a{
  color: white;
  text-decoration: none;
  text-align: center;
}

.lisa-avatar-radius img {
  border-radius: 60px
}

.lisa-container {
  display: flex;

}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.lisa-row h1 {
  font-size: 50px;
  color: #F2F2F2;

}


.name {
  flex: 1 1 100%
}

 .self_description {
  font-size: 15px;
}
