.lisa-container-name {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    background-color: #32B796;
}

.therapist-profile-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 50px;
    margin-bottom: 10px;

}

.lisa-self_description {
    font-size: 15px;
    display: flex;
    align-items: center;
    padding: 10px;

}

.lisa-price-description {
    color: $gray;
    display: flex;
    align-items: center;
    margin-top: 20px;

}

.lisa {

    font-size: 24px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 5px;
}

.lisa-row {
    margin-top: 20px;
    margin-bottom: 20px;

}

 .lisa-div-stars i {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
 }

.category-item {
    font-size: 20px;
    background: #E0E0E0;
    font-weight: lighter;
    padding: 5px 30px;
    vertical-align: middle;
    margin-bottom: 10px;
    border-radius: 15px;
    margin-right: 5px;

}


.category-item a{
  color: black;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  margin-top: 10px;
  :hover {
    font-weight: bold;
    color: $verde-escuro
  }
}

.lisa-avatar-radius img {
  border-radius: 50%;
}

.lisa-container {
  display: flex;

}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.lisa-row h1 {
  font-size: 50px;
  color: #F2F2F2;

}


.name {
  flex: 1 1 100%
}

 .self_description {
  font-size: 15px;
}


.lisa-container-photo{
  display: flex;
  justify-content: center;
  border-radius: 2px;
  margin: 50px 0;
}

.wrapper-show {
  min-height: calc(100vh - 140px);
}
