<h1>Categories#index</h1>
<p>Find me in app/views/categories/index.html.erb</p>

<h2> Name </h2>
<h2> Description</h2>
<img src="">

<%= Category.each do |category| %>
<%= category.name %>
<%= category.description %>
<%= image_tag "category.image", :class => "small-banner" %>
<% end %>
