<div style= "background-image: url(assets/background.jpeg);">

<div class="container" style=>
      <div class="row">
  <% @category.each do |category| %>
    <div class='card_category'>
        <div class="col-sm-8 ">
          <h2 class="text-center">  <%= category.name %> </h2>
          <p class="text-center"> <%= category.description %> </p>
        </div>
        <div class="col-sm-4">
          <%= image_tag category.image, class: "img-responsive" %>
        </div>
      </div>
  <% end %>
       </div>
</div>
</div>


<!-- <h1>Categories#index</h1>
<p>Find me in app/views/categories/index.html.erb</p>

<h2> Name </h2>
<h2> Description</h2>
<img src="">
 -->
